* {
  margin: 0;
  padding: 0;
  /* This is used to follow box model, if wee use padding it won't go outside of the box */
  box-sizing: border-box;
}

/* Font */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Nav bar design */
nav {
  width: 1600px;
  height: 92px;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  width: 139px;
  height: 60px;
}
nav ul {
  width: 365px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 16px;
}
.nav-btn {
  width: 164px;
  height: 44px;
  background-color: #30b868;
  border-radius: 4px;
  border-style: none;
  color: white;
  font-size: 16px;
}
nav ul a {
  text-decoration: none;
  color: black;
}
