* {
  margin: 0;
  padding: 0;
  /* This is used to follow box model, if wee use padding it won't go outside of the box */
  box-sizing: border-box;
}

/* Font */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Nav bar design */
nav {
  width: 1600px;
  height: 92px;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  width: 139px;
  height: 60px;
}
nav ul {
  width: 365px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 16px;
}
nav button:hover {
  background-color: #627382;
}
.nav-btn {
  width: 164px;
  height: 44px;
  background-color: #30b868;
  border-radius: 4px;
  border-style: none;
  color: white;
  font-size: 16px;
}
nav ul a {
  text-decoration: none;
  color: black;
}
/* Banner */
#banner {
  width: 1600px;
  height: 674px;
  background-image: url(/assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
}
.banner-content {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.access-btn {
  width: 229px;
  height: 35px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  border-color: transparent;
  gap: 6px;
}
.banner-content button:hover {
  background-color: #627382;
}
.access-img {
  padding-right: 6px;
}
.headline {
  width: 770px;
  height: 168px;
  font-size: 72px;
  font-style: bold;
  color: white;
}
.color-green {
  color: #30b868;
}
.banner-pg {
  color: white;
  font-size: 18px;
  line-height: 24px;
}
.banner-btn {
  width: 465px;
  height: 52px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.btn-strt {
  width: 251px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #30b868;
  color: white;
  border-radius: 4px;
  border-color: transparent;
}
.btn-see {
  width: 251px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  border-color: white;
}
/* Notes design */
#notes {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
#notes-pg {
  color: #627382;
}
/* Problem design */
#problem {
  width: 1600px;
  height: 300px;
  padding-top: 44px;
  display: flex;
  justify-content: center;
}
.problem-card-container {
  width: 1360px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.problem-card {
  width: 322px;
  height: 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
}
.card-heading {
  text-align: center;
}
.card-pg {
  text-align: center;
  color: #627382;
}
.img-icon {
  width: 60px;
  height: 60px;
  background-color: rgba(249, 85, 85, 1);
  border-radius: 50%;
  padding: 14px;
}
/* Solution design */
#solution-container {
  padding: 120px;
  display: flex;
}
.brain-img-txt {
  /* padding-top: 102px; */
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.uppertext {
  text-transform: uppercase;
}
#brain-img-txt-heading {
  font-size: 48px;
  text-align: left;
}
.checklist {
  display: flex;
  gap: 10px;
}

/* think design */
#think {
  display: flex;
  justify-content: center;
}
.think-container {
  width: 1360px;
  height: 384px;
  border-radius: 12px;
  background: rgba(247, 246, 242, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.think-heading {
  font-size: 40px;
}
.think-pg {
  color: #627382;
}
.btn-think {
  width: 194px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #30b868;
  color: white;
  border-radius: 4px;
  border-color: transparent;
}
.think-container button:hover {
  background-color: #627382;
}
.footer-container {
  width: 1600px;
  height: 348px;
  background-color: rgba(0, 25, 49, 1);
}
.footer-div-content {
  padding-top: 120px;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-first-div {
  display: flex;
  justify-content: space-between;
}
.footer-social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-social-icon {
  display: flex;
  gap: 16px;
}
.footer-social-pg {
  font-size: 20px;
  color: white;
}
.color-white {
  color: white;
}
.footer-last-div {
  color: white;
  text-align: center;
}
